---
layout: landing
title: CSSconf.eu
description: A conference dedicated to the designers, developers and engineers who build the world’s most engaging user interfaces.
previewImage: http://2013.cssconf.eu/static/img/such-a-shame/og_img.png
contentclass: home
---

<article class="article speakers">
  <div class="ctr">
    <h2 class="h2">
      Meet our Speakers
      <span>More announcements soon!</span>
    </h2>

    {% for post in site.categories.speakers reversed %}
      <a href="/speakers/index.html#{{ post.linkname }}" class="speaker">
        <p>
          <img src="{{ site.cdn }}/static/img/speakers/{{ post.linkname }}_300.jpg" alt="{{ post.speakername }}" />
        </p>
        <dl>
          <dt>{{ post.speakername }}</dt>
          <dd>
              {% if post.twittername %}<span>@{{ post.twittername }}</span>{% endif %}
              <p>{{ post.talktitle }}</p>
          </dd>
        </dl>
      </a>
    {% endfor %}
    <a href="/speakers" class="more">Read full speaker info</a>
  </div>
</article>


<section class="article news">
  <div class="ctr">
    <h2 class="h2">News</h2>

    {% for post in site.tags.news limit: 2 %}
      <article itemscope itemtype="http://schema.org/BlogPosting">
        <h3 class="h3">{% if post.date %}<time itemprop="datePublished" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>{% endif %}<a href="{{post.url}}" itemtype="name">{{ post.title }}</a></h3>
        {{ post.excerpt }}<a href="{{post.url}}">Read more</a>
      </article>
    {% endfor %}

    <a href="/news/" class="more">Read all news</a>
  </div>
</section>


<article class="article info">
  <div class="ctr">
    <h2 class="h2">Information</h2>
    <figure class="fig">
      <img src="http://maps.googleapis.com/maps/api/staticmap?markers=color:gray|52.532484,13.397325&amp;zoom=17&amp;format=png&amp;sensor=false&amp;size=640x640&amp;maptype=roadmap&amp;style=feature:road|element:geometry|color:0xf1614b|saturation:-27&amp;style=feature:road|element:labels|visibility:on|weight:0.1|color:0x3e120e&amp;style=feature:poi.park|element:geometry|color:0xbfeae2&amp;style=feature:water|element:geometry|color:0x2778b1&amp;style=feature:poi|element:geometry.fill|color:0xbfeae2&amp;style=feature:landscape.natural|element:geometry.fill|color:0xbfeae2&amp;scale=2&amp;key=AIzaSyDJhbXIrkKaTCE5DprEOe9ru2SZPEjt5bo" alt="Map of Berlin Mitte, Villa Elisabeth" />
    </figure>
    <div class="copy">
      <p>
        CSSconf.eu will be a unique event that focuses on intimacy instead of volume. The historical building of Villa Elisabeth creates the perfect setting. Located in the heart of Berlin and very close to hotels, nightlife, restaurants and the buzzing Mitte district, Villa Elisabeth is a quiet and relaxed gem hidden in a small park.
      </p>
      <p class="details">
        <a href="//maps.apple.com/?q=Invalidenstr.+3,+10115+Berlin" target="_blank">Villa Elisabeth&ensp;|&ensp;Invalidenstr. 3&ensp;|&ensp;10115 Berlin</a>
        <br />
        Airport codes: <a href="http://www.berlin-airport.de/en/travellers-txl/" target="_blank">TXL</a> &amp; <a href="http://www.berlin-airport.de/en/travellers-sxf/" target="_blank">SXF</a>
      </p>
    </div>
  </div>
</article>


<article class="article cfs">
  <div class="ctr">
    <h2 class="h2">Attendees</h2>
    <figure class="faces">
      <!-- These are not the faces you are looking for! But you found a discount code for your CSSconf.eu ticket, curious friend! Enter WHITERABBIT and save EUR 5.00! -->
    </figure>
    <p class="landing-attendees">This conference is about you! CSSconf.eu aims to bring together the people who care about the web, are passionate about technology, and who form the CSS community. Come join us in Berlin!</p>
    {% include cta.html %}
  </div>
</article>

<div class="comm">
  <p>CSSconf.eu is one highlight in a week full of amazing tech events in Berlin.</p>
  <p>Also check out <a href="http://2013.jsconf.eu/" target="_blank">jsconf.eu</a>, <a href="http://rejectjs.org/" target="_blank">reject.js</a> and <a href="http://up.front.ug/" target="_blank">up.front.ug</a>.</p>
</div>

