body {
  font-size: 87.5%;
  color: $color-text;
  line-height: 1.5;
  @include font-serif-mobile;
  letter-spacing: .005em;
  @include perspective(1000px);
  @include mq($mq-s) {
    @include font-serif;
    font-size: 100%;
  }
  @include mq($mq-m) {
    font-size: 112.5%;
  }
  @include mq($mq-l) {
    font-size: 125%;
  }
}

input, select, textarea, .subhead, .meta, .details, .cta {
  @include font-sans-serif;
}

nav, h1, h2, h3, h4, h5, h6, .h, .h1, .h2, .h3, .h4, .h5, .h6, .btn {
  font-weight: bold;
  @include font-sans-serif;
}

.h, .h1, .h2, .h3, .h4, .h5 {
  margin-bottom: .75em;
}

.h1, .h2 {
  span {
    display: block;
    font-size: .5em;
  }
}

.h1 {
  font-size: 2.5em; //35
}
.h2 {
  font-size: 2em; //28
  line-height: 1.25;
}
.h3 {
  font-size: 1.5em; //21
  line-height: 1.25;
}
.h2, .h3, .h4 {
  span, time {
    display: block;
    margin-bottom: .5em;
    font-size: .5em;
    @include uppercase;
  }
}
.h4 {
  font-size: 1.1428em; //16
}
.h5 {
  font-size: .75em;
  color: $color_red;
  @include uppercase;
}

p, ul, ol, form, blockquote {
  margin-bottom: 1.5em;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/* list styles currently needed for CfS */
ul, ol {
  margin: 0 0 1.5em 1em;
  li {
    margin-bottom: .5em;
    padding-left: .5em;
    list-style-type: square;
  }
}
ol {
  li {
    list-style-type: decimal;
  }
}


section, .sitefooter, .intro, article, main.md {
  padding: 1em;
  padding: 1em -webkit-calc(50% - 10em);
  padding: 1em calc(50% - 10em);
  @include mq($mq-xs){
    padding: 2em;
    padding: 2em -webkit-calc(50% - 14em);
    padding: 2em calc(50% - 14em);
  }
  @include mq($mq-s){
    padding: 2em;
    padding: 2em -webkit-calc(50% - 20em);
    padding: 2em calc(50% - 20em);
  }
  @include mq($mq-m){
    padding: 2em;
    padding: 2em -webkit-calc(50% - 22em);
    padding: 2em calc(50% - 22em);
  }
  @include mq($mq-l){
    padding: 3em;
    padding: 3em -webkit-calc(50% - 24em);
    padding: 3em calc(50% - 24em);
  }
}


.siteheader {
  position: relative;
  padding-bottom: 8em;
  text-align: center;
  clear: both;
  &.small{
    padding-bottom: 0;
  }
  .cta{
    margin-bottom: 0;
  }
  .illu{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}

.sitefooter {
  @include coloredBlock3;
  p {
    font-size: .75em;
    margin-bottom: .75em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subhead {
  @include uppercase;
  font-weight: bold;
}

.intro {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 0;
  @include mq($mq-s){
    font-size: 1.1428em;
    padding-top: 1em;
    padding-bottom: 2em;
  }
}

.cta {
  text-align: center;
  margin-bottom: 6em;
  .small & {
    margin-bottom: 0;
  }
  span {
    display: block;
    max-width: 22em;
    margin: .75em auto 0;
    font-size: .75em;
    color: $color_red;
    a {
      color: inherit;
      display: inline-block;
      &:hover {
        color: $color_blue;
      }
    }
  }
}

// padded sections

article, .sitefooter {
  padding-top: 2em;
  padding-bottom: 2em;
}


// links
a {
  outline: none;
  color: $color_blue_link;
  text-decoration: none;
  transition-property: color, background-color, border-color, opacity;
  transition-duration: .15s;
  transition-timing-function: ease-in-out;
  &:hover,
  &:focus {
    color: $color_blue_hover;
    text-decoration: none;
  }
  &.red_link {
    color: $color_red;
    &:hover,
    &:focus {
      color: $color_red_hover;
    }
  }
}

// connect bar (other conferences on landing page, social links on subpages)
.connect {
  padding: 45px 0 35px;
  font-size: .9em;
  text-align: center;
  background: $color_mint;
  @include font-sans-serif;
  p {
    margin-bottom: 10px;
  }
}

// buttons, forms elements

input[type='submit'],
.btn {
  display: inline-block;
  padding: .6em 1.5em .4em;
  border: 0;
  border-radius: .25em;
  cursor: pointer;
  background-color: $color_red;
  color: $color_white;
  @include uppercase;
  &:link,
  &:visited {
    color: $color_white;
  }
  &:hover,
  &:focus {
    background-color: $color_red_hover;
    color: $color_white;
  }
  &.inact {
    background-color: $color_mint;
    &:hover,
    &:focus {
      background-color: $color_mint;
      color: $color_white;
    }
  }
}

.btn-cta {
  font-size: 1.5em;
}

input {
  font-size: 1em;
}

.landing-attendees {
  width: 90%;
  margin: 0 auto 1.5em;
  max-width: 560px;
  text-align: center;
}

// nav

nav {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
  background: $color_red;
  z-index: 1;
  @include uppercase;
  ul {
    max-width: $mq-s;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: $color_red;
  }
  li {
    display: inline-block;
    list-style: none;
    margin: 0 .5em;
    padding: 0;
    &.current {
      a {
        opacity: 1;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: inline-block;
    padding: .5em 12px;
    font-size: .8em;
    opacity: .8;
    color: $color_white;
    &:hover,
    &:focus {
      opacity: 1;
      color: $color_white;
    }
  }
  @include mq($mq-s,max-width){
    min-height: 30px;
    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: .5em 0;
      font-size: 1.25em;
      @include box-sizing(border-box);
      &:after {
        $height: 2px;
        content: "";
        position: absolute;
        top: 1em;
        right: 1em;
        width: 1.3em;
        border-radius: 1px;
        height: $height;
        background: $color_white;
        pointer-events: none;
        box-shadow: 0 3.5*$height 0 $color_white, 0 7*$height 0 $color_white;
      }
      &:hover {
        li {
          display: block;
          margin: 0 0 5px;
        }
      }
    }
    li {
      display: none;
      margin: 0;
    }
    .current {
      display: block;
    }
    a {
      display: block;
    }
  }
}

.meta {
  color: $color_text_dark;
  @include uppercase;
}

/* blog / news / posts */

.single-post {
  border-bottom: 3px solid $color_red;
  max-width: 40em;
  margin: 0 auto;
  h2 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid $color_red;
  }
}
.preview-post {
  clear: both;
  margin-bottom: 2em;
  padding-left: 0;
  border-bottom: 1px solid $color-mint;
  @include mq($mq-m) {
    margin-bottom: 3em;
    padding-bottom: 2em;
  }
}

.post-header {
  text-align: center;
}

.post-footer {
  font-size: .75em;
  @include font-sans-serif;
}

.triplet{
  display: block;
  margin-bottom: 20px;
  img{
    display: inline-block;
    width: 45%;
    height: auto;
    margin: 5px;
    border-radius: 50%;
    @include mq($mq-s) {
      width: 30%;
    }
  }
}

.nd{
  vertical-align: top;
  .spnsr{
    display: inline-block;
    width: 40px;
    margin: 0 3px;
    img{
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
