// speakers overview list
.copy {
  direction: ltr;
  text-align: left;
  vertical-align: middle;
}

.details {
  @include uppercase;
  font-size: .75em;
}

.home {
  article, section {
    padding-top: 2em;
    padding-bottom: 2em;
    @include mq($mq-s){
      padding-top: 4em;
      padding-bottom: 4em;
    }
    h2 {
      margin-bottom: 1em;
    }
  }
  .ctr{
    text-align: center;
    padding: 3em 0;
    margin: 0 auto;
    max-width: 1400px;
  }
  .more{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    @include font-sans-serif;
  }
  .comm{
    padding: 45px 0 35px;
    font-size: .9em;
    text-align: center;
    background: $color_mint;
    @include font-sans-serif;
    p{
      margin-bottom: 10px;
    }
  }
  .article {
    @include perspective-origin(50%);
    .fig,
    .copy {
      @include box-sizing(border-box);
    }
    .fig {
      padding: 0 -webkit-calc(50% - 10em);
      padding: 0 calc(50% - 10em);
      img {
        display: block;
        width: 100%;
        max-width: 20em;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
    &:nth-child(odd) {
      @include coloredBlock1;
    }
    &:nth-child(even) {
      @include coloredBlock2;
    }
    &.cfs {
      background: $color-white;
      .faces{
        display: block;
        margin: 0 auto 55px;
        border-radius: 50%;
        @include single-transition(all, .25s, ease-in, 0);
        &:hover{
          width: 80%;
          border-radius: 100% 0%;
          @include mq($mq-s){
            width: 40%;
          }
        }
      }
      .cta{
        margin-bottom: 2em;
      }
    }
    &.speakers {
     padding-left: 0;
     padding-right: 0;
    }
    &.news{
      @include pattern-grid;
      > a{
        display: block;
      }
      article{
        text-align: left;
      }
    }
    &.info{
      background: $color_blue;
      padding-left: 0;
      padding-right: 0;
      .fig{
        @include mq($mq-s){
          width: 50%;
          padding: 0 20px;
          @include box-sizing(border-box);
        }
        img{
          border-radius: 50%;
        }
      }
      .copy{
        margin: 0 auto;
        padding: 2em;
        width: 80%;
        @include box-sizing(border-box);
        @include mq($mq-s) {
          width: 50%;
        }
      }
    }
    @include mq($mq-s) {
      .fig,
      .copy {
        display: table-cell;
        width: 60%;
        padding: 0;
      }
      .fig {
        overflow: hidden;
        width: 40%;
        vertical-align: middle;
        img {
           border-radius: 0;
            max-width: 100%;
        }
      }
    }
  }
}
