// speakers overview list
.copy {
  direction: ltr;
  text-align: left;
  vertical-align: middle;
}

.details {
  @include uppercase;
  font-size: .75em;
}

.home {
  .ctr{
    text-align: center;
    padding: 3em 0;
    margin: 0 auto;
    max-width: 1400px;
  }
  .more{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    @include font-sans-serif;
  }
  .article {
    @include perspective-origin(50%);
    padding: 3em 0;
    @include mq($mq-s){
      padding-top: 0;
      padding-bottom: 0;
    }
    .h3{
      margin-bottom: 2em;
    }
    .fig,
    .copy {
      @include box-sizing(border-box);
    }
    .fig {
      padding: 0 -webkit-calc(50% - 10em);
      padding: 0 calc(50% - 10em);
      img {
        display: block;
        width: 100%;
        max-width: 20em;
        height: auto;
        margin: 0 auto;
        border-radius: 50%;
      }
    }
    > .copy {
      padding: 2em -webkit-calc(50% - 10em);
      padding: 2em calc(50% - 10em);
    }
    &:nth-child(odd) {
      @include coloredBlock1;
    }
    &:nth-child(even) {
      @include coloredBlock2;
    }
    &.cfs {
      @include pattern_grid;
      .copy {
        color: $color_blue;
      }
      .btn{
        &,
        &:hover{
          color: $color-white;
        }
      }
    }
    &.news{
      background: $color_white;
      > a{
        display: block;
      }
      article{
        text-align: left;
      }
    }
    @include mq($mq-s) {
      padding: 0;
      .fig,
      .copy {
        display: table-cell;
        width: 60%;
        padding: 0;
      }
      .fig {
        overflow: hidden;
        width: 40%;
        vertical-align: middle;
        img {
           border-radius: 0;
            max-width: 100%;
        }
      }
      &:nth-child(odd) {
        direction: rtl;
        .copy {
          padding: 2em 3em 2em 3em;
          @include mq($mq-m){
            padding: 2em 3em 2em 6em;
          }
          @include mq($mq-l){
            padding-left: 8em;
          }
        }
        .fig {
          img {
            margin: 0 auto 0 0;
          }
        }
      }
      &:nth-child(even) {
        .copy {
          padding: 2em 2em 2em 2em;
          @include mq($mq-m){
            padding: 2em 4em 2em 3em;
          }
          @include mq($mq-l){
            padding-right: 8em;
          }
        }
        .fig {
          img {
            margin: 0 0 0 auto;
          }
        }
      }
      &.cfs {
        .copy {
          @include mq($mq-m){
            padding-top: 6em;
            padding-bottom: 6em;
          }
          @include mq($mq-l){
            padding-top: 6em;
            padding-bottom: 6em;
          }
        }
      }
    }
  }
}
