.cssconf-logo {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  font-size: 3em;
  line-height: 1.2;
  padding: .5em 0 0;
  font-weight: bold;
  text-align: center;
  @include mq($mq-s) {
    padding: 1em 0;
  }
  a{
    :nth-child(1n) {
      overflow: hidden;
      display: block;
      position: relative;
      color: $color_blue;
      @include transition(color .5s ease);
      &:hover{
        color: $color_blue_hover;
      }
      &:after {
        content: '';
        position: absolute;
        top: .85em;
        height: 2em;
        left: 0;
        right: 0;
        border-top: 3px solid $color_red;
        background-color: $color_white;
        @include rotate(-1deg);
        @include transition(transform .5s ease);
      }
    }
    :nth-child(2)::after {
      @include rotate(1deg);
    }

    :nth-child(1) {
      @include animation(logo-first $logoanim-dur $logoanim-rep $logoanim-delay both);
      &::after{
        @include animation(logo-first-after $logoanim-dur $logoanim-rep $logoanim-delay both);
      }
    }
    :nth-child(2) {
      @include animation(logo-second $logoanim-dur $logoanim-rep $logoanim-delay both);
      &::after{
        @include animation(logo-second-after $logoanim-dur $logoanim-rep $logoanim-delay both);
      }
    }
    :nth-child(3) {
      @include animation(logo-third $logoanim-dur $logoanim-rep $logoanim-delay both);
      &::after{
        @include animation(logo-third-after $logoanim-dur $logoanim-rep $logoanim-delay both);
      }
    }
  }
}
