html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,small,strong,b,i,ol,ul,li,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
q,blockquote {
  quotes: none
}
q:before,q:after,blockquote:before,blockquote:after {
  content: "";
  content: none
}
a img {
  border: none
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,summary {
  display: block
}
