.home{
  .article:nth-child(odd){
    direction: ltr;
    a {
      color: $color-white;
    }
  }
  .speaker {
    display: inline-block;
    width: 100%;
    max-width: 225px;
    margin: 0 1.5em 1.5em;
    vertical-align: top;
    color: $color-white;
    @include mq($mq-l) {
      max-width: 300px;
      margin: 0 73px 50px;
    }
    &:hover {
        img {
        -webkit-filter: grayscale(0);
        opacity: 1;
      }
    }
    img {
      -webkit-filter: grayscale(1);
      opacity: .8;
      width: 75%;
      height: auto;
      border-radius: 50%;
      opacity: .95;
      @include single-transition(all, .25s, linear, 0);
      @include mq($mq-s){
        width: 100%;
      }
    }
    dt {
      font-weight: bold;
      text-transform: uppercase;
      @include font-sans-serif;
    }
    dd {
      margin: 0;
      span {
        display: block;
        margin-bottom: 10px;
        font-size: .9em;
        @include font-sans-serif;
      }
    }
  }
}


.speakers-full-list {
  margin-left: 0;
  li {
    clear: both;
    margin-bottom: 3em;
    padding-left: 0;
    list-style: none;
    padding-bottom: 2em;
    border-bottom: 1px solid $color-mint;
    @include mq($mq-m) {
      overflow: hidden;
      h4 {
        margin-top: 0;
      }
    }
  }
}

.speaker-img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 1.5em auto;
  @include mq($mq-s) {
    max-width: 300px;
  }
  @include mq($mq-m) {
    max-width: 220px;
    float: left;
    margin-right: 2em;
  }
  @include mq($mq-l) {
    max-width: 300px;
  }
}