.spnsr {
  padding-top: 8em;
  padding-bottom: 8em;
  text-align: center;
  h3 {
    margin-bottom: 2em;
  }
  hr {
    background: $color_mint;
    color: $color_mint;
    clear: both;
    width: 50%;
    height: 1px;
    margin: 0 auto 2.5em;
    border: none;
  }
  > a{
    display: block;
    margin: 0 0 2.5em;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  a{
    &:hover,
    &:focus {
      opacity: .7;
    }
  }
  .db{
    height: 130px;
    width: auto;
  }
}

.spnsr-l {
  max-width: 250px;
}
.spnsr-m {
  max-width: 160px;
}
.spnsr-s {
  max-width: 80px;
}
