<footer class="sitefooter">
  <p>
    Follow us on <a href="https://plus.google.com/105360034022488273545" target="_blank" rel="publisher">Google+</a> and <a href="https://twitter.com/cssconfeu" target="_blank">Twitter</a>.
  </p>
  <p><a rel="me" href="http://2013.cssconf.eu/">CSSconf.eu</a> welcomes everyone, and defends you from harassment with our strict <a href="/code-of-conduct">anti-jerk policy</a>.</p>
  <p>CSSConf.eu is brought to you with love by <a href="https://twitter.com/frontdevde" target="_blank">Michael P. Pfeiffer</a> and <a href="http://twitter.com/kriesse" title="@kriesse" target="_blank">Kristina Schneider</a>.</p>

</footer>

