<header class="siteheader" itemscope itemtype="http://data-vocabulary.org/Event">
  <h1 class="cssconf-logo h1" itemprop="summary">
    <a href="/"><span>css</span> <span>conf</span> <span>eu</span></a>
  </h1>
  <h2 class="subhead">
    <span itemprop="location">Berlin</span>&ensp;|&ensp;<time itemprop="startDate" datetime="2013-09-13">September 13, 2013</time>
  </h2>

  <p class="intro" itemprop="description">
    CSSconf.eu is a conference dedicated to the designers, developers and engineers who build the world’s most engaging user interfaces. From the community, for the community.
  </p>

  {% include cta.html %}
  <img src="{{ site.cdn }}/static/img/cssconf-illu.png" class="illu">
</header>

