  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="1CTUdFRgCVVYU3zsvk8GGPmjABOueCcIuxsAb6h_LCE" />
  <meta name="google-site-verification" content="9ZHEmW3Y2FDcy4FtmSiHZe3BICdZK8X5uSS1bkmCqsg" />
  <meta name="revisit-after" content="7 days" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="css, css3, conference, js, html5, berlin, frontend, conf, designer, developer, engineer, user interface, ui" />
  <meta name="publisher" content="CSSconf.eu" />
  <meta name="author" content="CSSconf.eu Team" />
  <meta property="fb:admins" content="100000951092646" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} | CSSconf.eu">
{% if page.layout == 'post' %}
  <meta name="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
{% else %}
  <meta name="og:description" content="{{ page.description }}" />
{% endif %}
  <meta property="og:image" content="{{ page.previewImage }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:site" content="@CSSConfeu" />
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
{% if page.layout == 'post' %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
{% else %}
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
  <meta name="twitter:image" content="{{ page.previewImage }}" />
  {% comment %}
  <link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_iphone.png" />
  <link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_iphone2x.png" sizes="114x114" />
  <link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_ipad.png" sizes="72x72" />
  <link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_ipad2x.png" sizes="144x144" />
  <link rel="shortcut icon" href="{{ site.cdn }}/static/img/favicons/fi_favicon.ico" type="image/x-icon" />
  <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
  <meta name="msapplication-TileImage" content="{{ site.cdn }}/static/img/favicons/fi_windows8tile.png" />
  <meta name="msapplication-TileColor" content="#CC0000" />
  <meta name="application-name" content="{{ site.name }}" />
  {% endcomment %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" href="{{ site.cdn }}/static/img/icons/favicon.ico" />
  <link href="{{ site.cdn }}/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
