<meta name="language" content="en" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="1CTUdFRgCVVYU3zsvk8GGPmjABOueCcIuxsAb6h_LCE" />
<meta name="revisit-after" content="7 days" />
<meta name="robots" content="index,follow" />
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="css, css3, conference, js, html5, berlin, frontend, conf, designer, developer, egineer, user interface, ui" />
<meta name="publisher" content="CSSconf.eu" />
<meta name="author" content="CSSconf.eu Team" />
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ page.previewImage }}">
<meta name="twitter:site" content="@CSSConfeu" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image" content="{{ page.previewImage }}" />
{% comment %}
<link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_iphone.png" />
<link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_iphone2x.png" sizes="114x114" />
<link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_ipad.png" sizes="72x72" />
<link rel="apple-touch-icon" href="{{ site.cdn }}/static/img/favicons/fi_apple_touch_ipad2x.png" sizes="144x144" />
<link rel="shortcut icon" href="{{ site.cdn }}/static/img/favicons/fi_favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-title" content="Lorem ipsum">
<meta name="msapplication-TileImage" content="{{ site.cdn }}/static/img/favicons/fi_windows8tile.png" />
<meta name="msapplication-TileColor" content="#CC0000" />
<meta name="application-name" content="{{ site.name }}" />
<link rel="canonical" href="" />
<link rel="copyright" href="" />
{% endcomment %}
<link rel="shortcut icon" href="{{ site.cdn }}/static/img/icons/favicon.ico" />
<link href="{{ site.cdn }}/static/css/screen.css{{ site.time | date: "?%s" }}" media="screen, projection" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//use.typekit.net/agj0gjx.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
