<section class="spnsr spnsr-footer">
  <h3 class="h3">Sponsors</h3>
  <hr />
  <a href="http://www.sinnerschrader.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_sinnerschrader.svg" alt="SinnerSchrader" class="spnsr-l"/></a>
  <a href="http://andyet.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_andyet.svg" alt="&amp;yet" class="spnsr-m" /></a>
  <a href="http://www.adobe.com/de/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_adobe.svg" alt="Adobe" class="spnsr-m db" /></a>
  <hr />
  <a href="http://www.github.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_github.svg" alt="GitHub" class="spnsr-m" /></a>
  <hr />
  <a href="http://uber.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_uber.svg" alt="Uber" class="spnsr-l" /></a>
  <a href="http://justanotherfoundry.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_jaf.svg" alt="Just Another Foundry" class="spnsr-s" /></a>
  <a href="http://bocoup.com/" target="_blank"><img src="{{ site.cdn }}/static/img/logos/lg_bocoup.png" alt="Bocoup" class="spnsr-l" /></a>
  <hr />


  <p>
    At CSSconf.eu 2013, the best CSS developers will gather in Berlin, Germany for a conference that will showcase the future of CSS development.
    <br />
    We have a wide variety of sponsoring opportunities available. Talk to us: <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>
  </p>
</section>
